                    h4 {
                        background-color: #1f38c59f;
                    }
                    
                    p {
                        font-family: 'Space Mono', monospace;
                    }
                    
                    #eita {
                        font: montserrat;
                    }
                    
                    body {
                        margin: 0px;
                    }
                    
                    nav {
                        margin-top: 15px;
                        padding: 14px;
                        text-align: center;
                        font-family: Raleway;
                        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
                    }
                    
                    #nav-1 {
                        background: #1a1a1a;
                    }
                    
                    .link-1 {
                        transition: 0.3s ease;
                        background: #181818;
                        color: #ffffff;
                        font-size: 14px;
                        text-decoration: none;
                        border-top: 4px solid #181818;
                        border-bottom: 4px solid #181818;
                        padding: 10px 0;
                        margin: 0 17px;
                    }
                    
                    .link-1:hover {
                        border-top: 4px solid #ffffff;
                        border-bottom: 4px solid #ffffff;
                        padding: 6px 0;
                    }
                    
                    .text-lines {
                        padding-inline-start: 37%;
                        top: 499px;
                        font: 900 77px/77px montserrat;
                        text-transform: uppercase;
                        color: transparent;
                        -webkit-text-stroke: 1px rgb(58, 54, 87);
                    }
                    
                    .text-lines .line-2 {
                        color: rgb(135, 118, 230);
                        -webkit-text-stroke: 0px rgb(135, 118, 230);
                    }
                    
                    @keyframes blink {
                        50% {
                            opacity: 1;
                        }
                        100% {
                            opacity: 0;
                        }
                    }
                    
                    body {
                        background-color: #151515;
                        color: #eee;
                        font-family: 'Share Tech Mono', monospace;
                        user-select: none;
                    }
                    
                    * {
                        padding: 0;
                        margin: 0;
                        overflow-x: hidden;
                    }
                    
                    .game {
                        width: 500px;
                        height: 200px;
                        border: 1px solid black;
                        margin: auto;
                    }
                    
                    #character {
                        width: 20px;
                        height: 50px;
                        background-color: red;
                        position: relative;
                        top: 150px;
                    }
                    
                    .animate {
                        animation: jump 0.3s linear;
                    }
                    
                    @keyframes jump {
                        0% {
                            top: 150px;
                        }
                        30% {
                            top: 100px;
                        }
                        70% {
                            top: 100px;
                        }
                        100% {
                            top: 150px;
                        }
                    }
                    
                    #block {
                        background-color: blue;
                        width: 20px;
                        height: 20px;
                        position: relative;
                        top: 130px;
                        left: 500px;
                        animation: block 1s infinite linear;
                    }
                    
                    @keyframes block {
                        0% {
                            left: 500px
                        }
                        100% {
                            left: -20px
                        }
                    }
                    
                    p {
                        text-align: center;
                    }